# Network and account info
RPC_URL_MAINNET=XXX
RPC_URL_GOERLI=XXX
RPC_URL_ARBITRUM=XXX
RPC_URL_OPTIMISM=XXX
RPC_URL_POLYGON=XXX
RPC_URL_BSC=XXX
RPC_URL_GNOSIS=XXX

PRIVATE_KEY=XXX

ETHERSCAN_KEY=XXX
ARBISCAN_KEY=XXX
POLYGONSCAN_KEY=XXX
OPTIMISM_ETHERSCAN_KEY=XXX
BSCSCAN_KEY=XXX
GNOSISSCAN_KEY=XXX

# Deploy configs
VERSION="1.0"
BUNNI_HUB=0xb5087F95643A9a4069471A28d32C569D9bd57fE4

ZEROEX_PROXY_1=0xdef1c0ded9bec7f1a1670819833240f027b25eff
ZEROEX_PROXY_5=0xF91bB752490473B8342a3E964E855b9f9a2A668e

WETH_1=0xC02aaA39b223FE8D0A0e5C4F27eAD9083C756Cc2
WETH_5=0xB4FBF271143F4FBf7B91A5ded31805e42b2208d6